body {
    background-color: #d0e4fe;
}

img {
    padding: 5px;
}

#control {
    position: fixed;
    top: 30px;
    right: 5px;
    padding: 10px;
    background-color: red;
}

.image_leg {
    display: inline;
    width: 800px;
    height: 500px;
}

.btn {
    margin: 5px;
    width: 200px;
}